<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="resources/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="resources/jquery-3.4.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="resources/jquery-ui/jquery-ui.js"></script>
    <title>{% block title %}{% endblock %}Cash-Checking</title>
</head>
<body>

{% block body %}{% endblock %}
  <!-- Designed and developed by Online Arts represented by Roman Martin under AGPL3 license <br />-->
  <a href="https://gitlab.com/OnlineArts/cash-checking-core" target="_blank">source code</a>
</body>
</html>
