{% extends 'base.html.twig' %}

{% block title %}Login - {% endblock %}
{% block body %}

{% if insert_attempt %}
  <p>
  {% if insert_success %}
    <span style="background-color:#0FF;">New record created successfully</span>
  {% else %}
    <span style="background-color:#F00;">Insert Error</span>
  {% endif %}
  </p>
{% endif %}
<a href="index.php?show=1">Übersicht</a><br /><br />
<form method="POST" action="#">
  <input id="datepicker" type="text" name="date" placeholder="date" maxlength=8 value="{{ date }}" size=6 />
  <input id="group" type="text" name="group" placeholder="group" maxlength=30 size=8/>
  <input id="location" type="text" name="location" placeholder="location" maxlength=30 size=8 />
  <input type="text" name="outcome" placeholder="outcome" maxlength=10  size=3 />
  <input type="text" name="income" placeholder="income" maxlength=10  size=3 />
  <input id="city" type="text" name="city" placeholder="city" maxlength=50  size=8 />
  <input id="comment" type="text" name="comment" placeholder="comment" maxlength=100 size=12 />
  <input type="submit" value="save" />
</form>
<script language="javascript" type="text/javascript" src="resources/casher.js"></script>

{% endblock %}
