{% extends 'base.html.twig' %}

{% block title %}Login - {% endblock %}
{% block body %}

<h2>Login</h2>
{% if login_try %}
<p>
  {% if login_success %}
  <span style="background-color:#0A0;">Login successfull</span>
  <br />
  <a href="index.php?show=1">Proceed</a>
  {% else %}
  <span style="background-color:#E00;">Login failed</span>
  {% endif %}
</p><br />
{% endif %}
<form method="POST" action="#">
  <input type="text" name="user" placeholder="username / e-mail" size=8 maxlength=32 />
  <input type="password" name="{{ password_field_name }}" placeholder="password" size=8 maxlength=50 />
  <input type="submit" value="login" />
</form>
{% endblock %}
