{% extends 'base.html.twig' %}

{% block title %}Login - {% endblock %}
{% block body %}

<h2>Registration</h2>
{% if register_try %}
<p>
  {% if registration %}
  <span style="background-color:#0A0;">Registration successfull</span>
  <br />
  <a href="index.php?show=1">Proceed</a>
  {% else %}
  <span style="background-color:#F00;">registration failed</span>
  {% endif %}
</p><br />
{% endif %}
<form method="POST" action="#">
  <input type="text" name="user" placeholder="username" size=8 maxlength=32 />
  <input type="password" name="{{ password_field_name }}" placeholder="password" size=8 maxlength=50 />
  <input type="password" name="repetition" placeholder="repeat password" size=8 maxlength=50 />
  <input type="submit" value="register" />
</form>
<p><strong>Requirements:</strong><br />
  username: 5-32 characters <br />
  password: 7-50 characters <br />
</p>
{% endblock %}
