{% extends 'base.html.twig' %}

{% block title %}Show - {% endblock %}
{% block body %}

<a href="index.php?insert=1">Eintragen</a><br /><br />
<table padding=1 border=1 width="100%">

{% if has_entries %}
<p><strong>There are no entries</strong><p>
{% else %}
  {% set condition = true %}
  {% for entry in entries %}
    <tr>
      {% if show_id %}
      <td>{{ entry.id }}</td>
      {% endif %}
      <td>{{ entry.date }}</td>
      <td>{{ entry.outcome }}</td>
      <td>{{ entry.income }}</td>
      <td>{{ entry.location }}</td>
      <td>{{ entry.city }}</td>
      <td>{{ entry.comment }}</td>
    </tr>
  {% endfor %}
{% endif %}
</table>
{% endblock %}
